body {
  background-color: #08c54d;
}

.login-div {
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #a3ffa3;
  border-radius: 15px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.login-div h2 {
  text-align: center;
  color: #08c54d;
  margin-bottom: 30px;
  margin-top: 60px;
}

.name-div,
.password-div {
  margin-bottom: 15px;
  color: #08c54d;
  margin-top: 10px;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #a3ffa3;
  border-radius: 5px;
  padding: 10px;
}

.sub-btn {
  background-color: #08c54d;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.2s;
}

.sub-btn:hover {
  background-color: rgb(14, 128, 61);
}
