/* Taking the color styling idea from a particular company */
body {
  background-color: #08c54d;
}

.reg-div {
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #a3ffa3;
  border-radius: 15px; 
  margin-top: 50px;
}

.reg-div h2 {
  text-align: center;
  color: #08c54d;
  margin-bottom: 40px; 
  margin-top: 70px;
}

.name-div,
.password-div {
  margin-bottom: 20px;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #a3ffa3; 
  border-radius: 5px;
}

.sub-btn {
  background-color: #08c54d;
  width: 100%;
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s;
  margin-bottom: 10px;
}

.sub-btn:hover {
  background-color: rgb(14, 128, 61);
}


